{% extends "voa/base.html" %}

{% load static %}

{% block content %}

<!-- linka funcoes do leaflet -->

<section id="one" class="wrapper style2">

    <header class="align-center">
        <h1 style="font-size: 34px;"><b>Banco de Dados</b></h1>
    </header>

    <div class="inner">
        <br>

        <h3><a href="/voa/dados/cetaceos">Avistamentos de Cetáceos</a></h3>
        <p>Avistamento de baleias e golfinhos a bordo do veleiro.</p>

        <h3><a href="#">Qualidade da Água</a></h3>
        <p>Parâmetros de qualidade de água (Temperatura, PH, TDS, EC, ...)<br>* Em construção</p>

        <h3><a href="#">Microplásticos</a></h3>
        <p>Distribuição de microplásticos nos oceanos (concentração, tamanho, <br>* Em construção</p>

        <h3><a href="#">Meteorologia</a></h3>
        <p>Series temporais de intensidade do vento, pressão atmosférica, umidade relativa e temperatura do ar em diversas localidades que o veleiro ficou fundeado.<br>* Em construção</p>

        <h3><a href="#">Ondas</a></h3>
        <p>Series temporais de altura, período e direção de ondas.<br>* Em construção</p>

        <h3><a href="#">Acústica Submarina</a></h3>
        <p>Gravações com hidrofone para caracterização de paisagem acústica.<br>* Em construção</p>

    </div>

</section>

{% endblock %}