{% extends "voa/base.html" %}

{% load static %}

{% block content %}

<!-- linka funcoes do leaflet -->

<section id="one" class="wrapper style2">

    <header class="align-center">
        <h1 style="font-size: 34px;"><b>Expedições</b></h1>
    </header>

    <div class="inner">
        <br>

        <h3><a href="#">VOA_01 - Rio de Janeiro X Ubatuba</a></h3>
        <p>Estudo de micriplástico<br><a href="#">Acesso aos Dados</a><br>* Em construção</p>

        <h3><a href="#">VOABITO_01 - Ilha Grande</a></h3>
        <p>Estudo do Coral Sol na baía de Ilha Grande. Doutorado do aluno Igor Passos na Universidade Estadual do Rio de Janeiro.<br><a href="#">Acesso aos Dados</a><br>* Em construção</p>

    </div>

</section>

{% endblock %}