{% extends "voa/base.html" %}

{% load static %}

{% block content %}

<!-- linka funcoes do leaflet -->

<section id="one" class="wrapper style2">

    <header class="align-center">
        <h1 style="font-size: 34px;"><b>Projetos</b></h1>
    </header>

    <div class="inner">
        <br>

        <h3><a href="#">Manutenção da boia meteo-oceanográfica do SiMCosta no Rio de Janeiro</a></h3>
        <p>Manutenção mensal da boia meteo-oceanográfica do Programa de Monitoramento da Costa Brasileira (SiMCosta), localizada próxima à Ilha da Cotunduba/RJ.<br>* Em construção</p>

        <h3><a href="#">Climatologia de vento e onda do PNBOIA</a></h3>
        <p>Processamento e análise dos dados de onda e vento do Progama Nacional de Boias (PNBOIA) da Marinha do Brasil<br>* Em construção</p>

        <h3><a href="#">Monitoramento da qualidade da água na praia da Urca/RJ. </a></h3>
        <p>Análise espaço-temporal da poluição na Enseada de Botagogo/RJ.<br>* Em construção</p>

    </div>

</section>

{% endblock %}