{% extends "voa/base.html" %}

{% load static %}

{% block content %}

<!-- linka funcoes do leaflet -->

<section id="one" class="wrapper style2">

    <header class="align-center">
        <h1 style="font-size: 34px;"><b>Serviços</b></h1>
    </header>

    <div class="inner">
        <br>

        <h3><a href="#">Medições de Ondas e Correntes</a></h3>
        <p>Coleta de dados de ondas e correntes utilizando sensor de pressão, ADCP e/ou boia.<br>* Em construção</p>

        <h3><a href="#">Perfis Verticais de CTD e qualidade da água</a></h3>
        <p>* Em construção</p>

        <h3><a href="#">Lançamento de Derivadores</a></h3>
        <p>* Em construção</p>

        <h3><a href="#">Caracterização de Paisagem Acústica Submarina</a></h3>
        <p>* Em construção</p>

        <h3><a href="#">Coleta de Plâncton</a></h3>
        <p>* Em construção</p>

        <h3><a href="#">Manutenção de Boias Meteo-Oceanográficas</a></h3>
        <p>* Em construção</p>

    </div>

</section>

{% endblock %}