{% extends "voa/base.html" %}

{% load static %}

{% block content %}

<section id="one" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <h1 style="font-size: 34px;"><b>Veleiro</b></h1>
        </header>
        <br>
        <div class="grid-style">
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="{% static 'voa/images/sirius27.jpg' %}"/>
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <h2>Sirius 27'</h2>
                        </header>
                        <ul>
                            <li>Comprimento: 8,22 m</li>
                            <li>Boca máxima: 3,06</li>
                            <li>Altura da cabine: 1,80 m </li>
                            <li>Deslocamento: 1800 kg </li>
                            <li>Quilha: 750 kg</li>
                            <li>Calado: 1,50 m</li>
                            <li>Área vélica: 26,96 m²</li>
                            <li>Casco: Fibra de vidro</li>
                            <li>Motor: Yanmar 3YM30AE 29 HP</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="box">
                    <div class="image fit">
                        <img src="{% static 'voa/images/chartplotter.jpg' %}"/>
                    </div>
                </div>
            </div>
            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="{% static 'voa/images/voa1.jpg' %}"/>
                    </div>
                </div>
                <br><br>
                <div class="box">
                    <div class="image fit">
                        <img src="{% static 'voa/images/bote.jpg' %}"/>
                    </div>
                </div>
            </div>
            <!-- <div class="box">
                    <div class="image fit">
                        <a href="/voa/veleiro"><img src="{% static 'voa/images/chartplotter.jpg' %}"/></a>
                    </div>
                </div> -->
                <!-- <div class="box">
                    <div class="image fit">
                        <a href="/voa/veleiro"><img src="{% static 'voa/images/lonorble1.jpg' %}"/></a>
                    </div>
                </div> -->
                    <!-- <div class="content"> -->
                        <!-- <header class="align-center">
                            <h2><a href="/voa/veleiro">VOA</a></h2>
                        </header> -->
                        <!-- <ul>
                            <li>Modelo: Sirius 27'</li>
                            <li>Projeto: Maurilo Queiroz</li>
                            <li>Comprimento: 8,22 m</li>
                            <li>Boca máxima: 3,06</li>
                            <li>Altura da cabine: 1,80 m </li>
                            <li>Deslocamento: 1800 kg </li>
                            <li>Quilha: 750 kg</li>
                            <li>Calado: 1,50 m</li>
                            <li>Área vélica: 26,96 m²</li>
                            <li>Calado: 1,50 m</li>
                            <li>Casco: Fibra de vidro</li>
                            <li>Motor: Yanmar 3YM30AE 29 HP</li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>

{% endblock %}



